.full {
  height: 100%;
  padding-top: 1rem;
}
.full .ant-layout-sider {
  background-color: white;
}
.full-lay-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.applications .ant-layout-header,
.test .ant-layout-header {
  background-color: white;
}
